/packages
/SeleniumStorageProvider/obj
/SeleniumStorageProvider/bin
/SeleniumStorageProvider.UnitTest/bin
/SeleniumStorageProvider.UnitTest/obj
/SeleniumTest/bin
/SeleniumTest/obj
/SeleniumStorageProviderTests/obj
/SeleniumStorageProviderTests/bin
/SeleniumTest/App.config
