<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublishProfile" value="Default"/>
    <add key="BaseUrl:Default" value="http://www.google.com"/>
    <add key="BaseUrl:T" value="http://www.google.com"/>
    <add key="BaseUrl:A" value="http://www.google.com"/>
    <add key="BaseUrl:P" value="http://www.google.com"/>
  </appSettings>
</configuration>