<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublishProfile" value="Default"/>
    <add key="BaseUrl:Default" value="http://www.google.com"/>
    <add key="BaseUrl:T" value="http://www.google.com"/>
    <add key="BaseUrl:A" value="http://www.google.com"/>
    <add key="BaseUrl:P" value="http://www.google.com"/>
    <add key="StorageContainer" value="Test" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=seleniumscreenshots;AccountKey=4zQ9/hPP20g+gr43I/8QPn5aNVH0evpxWdx3zhH2v905qApI9clQk+v1lBdBEdIGidIddGPp2lAKSRCKxv+t6w==" />
  </appSettings>
</configuration>